In [130]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import string as str
import regex

Matplotlib is building the font cache; this may take a moment.

In [3]:
df = pd.read_csv("~/Python y Data/pandas/attacks.csv", encoding="latin-1")

In [4]:
df.head()

df.shape

df.describe()

              Year  original order
count  6300.000000     6309.000000
mean   1927.272381     3155.999683
std     281.116308     1821.396206
min       0.000000        2.000000
25%    1942.000000     1579.000000
50%    1977.000000     3156.000000
75%    2005.000000     4733.000000
max    2018.000000     6310.000000

In [5]:
df.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN

1. a) mostrar las 10 primeras filas
   b) las 10 ultimas
   c) el tamaño del csv
   d) filas 639 y 640

In [1]:
#a)

In [2]:
# b)

In [3]:
# c)

In [4]:
# d)

2. Mostrar el numero total de valores nulos de cada columna

3. Eliminar la columnas que creas que no valen la pena

4. Primero poner todas las columnas en minuscula y luego cambiarles el nombre

5. Hacer una nueva tabla que se llame df_dead solo con las filas de aquellos casos en los que la personas haya muerto.

6. Corregir la columna "Original order" y sumarle 10 pq hubo un error sistematico

7. Buscar la fila de españa e identificar que tiburon o tiburones son los culpables

8. Cuantos han sido por ataque de tiburon blanco y por paises

9. Agrupar por año, seleccionar los ultimos 100 años y contar los casos

10. Histograma del ejercicio anterior (bins = 100)